.example-container {
  height: 100vh;
  background-color: #fff0f3;
}

.sidenav-usuario {
  width: 280px;
  background-color: var(--pink-light);
  border: none;
  display: flex;
  flex-direction: column;
}

.btn-toggle-rosa {
  margin: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s;
}

.btn-toggle-rosa:hover {
  transform: scale(1.1);
  color: #d63384;
}

